<div *ngIf="errorMessage" class="fixed flex h-16 w-screen justify-center items-center text-xl text-white mt-[8vh] z-10">
  <div class="flex flex-row items-center h-16 bg-red-300 p-4">
    <h2 class="">Error</h2>
  </div>
  <div class="flex flex-row items-center h-16 bg-red-400 p-4">
    <p class="">{{errorMessage}}</p>
  </div>
</div>
<div class="h-screen w-screen flex flex-col justify-center items-center text-neutral-400 text-lg">
  <a routerLink="/issue-tracker/register" class= "text-black underline underline-offset-1 fixed top-0 right-0 mt-4 mr-4">Sign Up</a>
  <form (ngSubmit)="onLogin()" class="rounded-md p-4 bg-white w-screen xs:w-[350px]">
    <h1 class="text-center text-2xl text-neutral-500 mb-8">Login</h1>
    <div class="flex flex-col {{errorEmail && 'text-red-400 border-red-400'}}">
      <label for="email">Email Address*</label>
      <input
        (click)="resetErrors()"
        class="focus-visible:outline-none border-b-2"
        [(ngModel)]="email"
        type="email"
        name="email"
        id="email"
        required
      >
    </div>
    <div class="flex flex-col mt-4 border-b-2 {{errorPassword && 'text-red-400 border-red-400'}}">
      <label for="password">Password*</label>
      <div class="text-right">
        <input
        (click)="resetErrors()"
        class="focus-visible:outline-none w-[17rem]"
        [(ngModel)]="password"
        type="{{passwordType}}"
        name="password"
        id="password"
        required
        >
        <a (click)="hidePassword()" class="underline underline-offset-1 select-none active:scale-95">{{showOrHide}}</a>
      </div>
    </div>
    <input
      class="bg-emerald-400 text-white underline underline-offset-1 w-full mt-4 p-2 rounded-full"
      type="submit"
      value="Login"
    >
    <div class="text-center mt-4">
      <p (click)="loginAsGuest()" class="underline underline-offset-1 cursor-pointer">Continue as a guest</p>
      <!-- <a routerLink="" class=" underline underline-offset-1">Forgot Password?</a> -->
      <p class="mt-4 text-sm">* Required field</p>
    </div>
  </form>
</div>
