<div class="flex flex-col mt-16">
  <div class="flex flex-wrap justify-center items-center text-lg mb-24">
    <h1 class="font-bold text-2xl mb-8 text-neutral-500">Issues</h1>
    <app-issue-status-group
      (onClickIssue)="onClickIssue($event)"
      name="TO DO"
      [issues]="todoIssues"
    ></app-issue-status-group>
    <app-issue-status-group
      (onClickIssue)="onClickIssue($event)"
      name="IN PROGRESS"
      [issues]="inProgressIssues"
    ></app-issue-status-group>
    <app-issue-status-group
      (onClickIssue)="onClickIssue($event)"
      name="IN REVIEW"
      [issues]="inReviewIssues"
    ></app-issue-status-group>
    <app-issue-status-group
      (onClickIssue)="onClickIssue($event)"
      name="DONE"
      [issues]="doneIssues"
    ></app-issue-status-group>
  </div>

</div>
